{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Flipkart2.0-easy shopping</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://daemonite.github.io/material/css/material.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
      rel="stylesheet"
    />
    
    <link rel="icon" href="{% static 'img/120.png' %}" >

    

    <!-- Bootstrap -->
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"
    />
  
    <!-- Slick -->
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/slick.css' %}"
    />
    <link
    type="text/css"
    rel="stylesheet"
    href="{% static 'css/flaticons.css' %}"
  />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/slick-theme.css' %}"
    />

    <!-- nouislider -->
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/nouislider.min.css' %}"
    />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

    <!-- Custom stlylesheet -->
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/address.css' %}">


  
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <!-- TOP HEADER -->
      <div id="top-header">
        <div class="container">
          <ul class="header-links pull-left">
            <li>
              <a href="#"><i class="fa fa-phone"></i> +91 9786543210</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-envelope-o"></i> codebook@email.com</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-map-marker"></i> Hyerabad</a>
            </li>
          </ul>
          <ul class="header-links pull-right">
            <li>
              <a href="{% url 'user-login' %}"><i class="fa fa-user-o"></i>
                User</a>
            </li>
            <li>
              <a href="{% url 'admin-login' %}"><i class="fa fa-user-o"></i>
                Admin</a>
            </li>
            <li>
              <a href="{% url 'seller-login' %}"><i class="fa fa-user-o"></i>
                Seller</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /TOP HEADER -->

      <!-- MAIN HEADER -->
      <div id="header">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">
            <!-- LOGO -->
            <div class="col-md-3">
              <div class="header-logo">
                <a href="{% url 'index' %}" class="logo">
                 <img src="{% static 'img/120.png' %}" alt="" />
                </a>
              </div>
            </div>
            <!-- /LOGO -->

            <!-- SEARCH BAR -->
            <div class="col-md-6">
              <div class="header-search">
                
                <form method="post">
                  {% csrf_token %}
                  <select class="input-select">
                    <option hidden>All Categories</option>
                    <option >Mobiles</option>
                    <option >Laptops</option>
                    <option >Cameras</option>
                  </select>
                  <input class="input" name="search" placeholder="Search here" />
                  <button name="searchbtn" class="search-btn">Search</button>
                </form>
              </div>
            </div>
            <!-- /SEARCH BAR -->

            <!-- ACCOUNT -->
            <div class="col-md-3 clearfix">
              <div class="header-ctn">
                <!-- Wishlist -->
                <div>
                  <a href="{% url 'wishlist' %}">
                    <i class="fa fa-heart-o"></i>
                    <span>Your Wishlist</span>
                    <div class="qty">{{wishlist}}</div>
                  </a>
                </div>
                <!-- /Wishlist -->

                <!-- Cart -->
                <div class="dropdown">
                  <a
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    aria-expanded="true">
                    <i class="fa fa-shopping-cart" style="color:white"></i>
                    <span style="color:white">Your Cart</span>
                    <div class="qty">{{cart_count}}</div>
                  </a>
                  <div class="cart-dropdown">
                    <div class="cart-list">
                      {% for i in cart %}
                      <div class="product-widget">
                        <div class="product-img">
                          <img src="/media/{{i.cart_product.pro_details.pro_image}}"    alt="" />
                        </div>
                        <div class="product-body">
                          <h3 class="product-name">
                            <a href="#">{{i.cart_product.pro_details.pro_name}}</a>
                          </h3>
                          <h4 class="product-price">
                            <span class="qty">{{i.cart_product_qty}}X</span>{{i.cart_product_price}}
                          </h4>
                        </div>
                       
                      </div>
                      {% empty %}
                      <div class="product-widget">
                        <div class="product-img">
                          <img src="{% static 'img/product02.png' %}" alt="" />
                        </div>
                        <div class="product-body">
                          <h3 class="product-name">
                            <a href="#">Samsung</a>
                          </h3>
                          <h4 class="product-price">
                            <span class="qty">3x</span>$980.00
                          </h4>
                        </div>
                        <button class="delete">
                          <i class="fa fa-close"></i>
                        </button>
                      </div>
                      {% endfor %}

                      
                    </div>
                    <div class="cart-summary">
                      <small>{{cart_count}} Item(s) selected</small>
                      <h5>SUBTOTAL: {{total}}.00</h5>
                    </div>
                    <div class="cart-btns">
                      <a href="{% url 'cart' %}">View Cart</a>
                      <a href="{% url 'billing' %}">BuyNow<i class="fa
                          fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                </div>
                <!-- /Cart -->

                <!-- Menu Toogle -->
                <div class="menu-toggle">
                  <a href="#">
                    <i class="fa fa-bars"></i>
                    <span>Menu</span>
                  </a>
                </div>
                <!-- /Menu Toogle -->
              </div>
            </div>
            <!-- /ACCOUNT -->
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->

    <!-- NAVIGATION -->
    <nav id="navigation">
      <!-- container -->
      <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
          <!-- NAV -->
          <ul class="main-nav nav navbar-nav">
            <li ><a href="{% url 'index' %}">Home</a></li>
            <li ><a href="{% url 'customer_laptops' %}">Laptops</a></li>
            <li><a href="{% url 'customer_smartphones' %}">Smartphones</a></li>
            <li><a href="{% url 'customer_cameras' %}">Cameras</a></li>
            <li class="active"><a href="{% url 'customer_order_placed' %}">My Orders</a></li>
            <li><a href="{% url 'customer_profile' %}">My Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
          <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
      </div>
      <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->

    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-12">
            <ul class="breadcrumb-tree">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="">cart-details</a></li>
            </ul>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->

    <!-- SECTION -->
  
    <!-- /SECTION -->

    <!-- Section -->
    <section class="contact-section">
        <div class="pb-5">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
        
                  <!-- Shopping cart table -->
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col" class="border-0 bg-light">
                            <div class="p-2 px-3 text-uppercase"><h5>Products</h5></div>
                          </th>
                          <th scope="col" class="border-0 bg-light">
                            <div class="py-2 text-uppercase"><h5>Price</h5></div>
                          </th>
                          <th scope="col" class="border-0 bg-light">
                            <div class="py-2 text-uppercase"><h5>Quantity</h5></div>
                          </th>
                          <th scope="col" class="border-0 bg-light">
                            <div class="py-2 text-uppercase"><h5>Total Price</h5></div>
                          </th>
                          <th scope="col" class="border-0 bg-light">
                            <div class="py-2 text-uppercase"><h5>Status</h5></div>
                          </th>
                          <th scope="col" class="border-0 bg-light">
                            <div class="py-2 text-uppercase text-center "><h5>View Details</h5></div>
                          </th>
                        </tr>
                      </thead>
                      {% for i in data%}
                      <tbody>
                        <tr>
                          <th scope="row" class="border-0">
                            <div class="p-2">
                              <img src="/media/{{i.order_product2.pro_image}}" alt="" width="70" class="img-fluid rounded shadow-sm">
                              <div class="ml-3 d-inline-block align-middle">
                                <h5 class="mb-0"> <a  class="text-dark d-inline-block align-middle">{{i.order_product2.pro_name}}</a></h5><span class="text-muted font-weight-normal font-italic d-block"></span>
                              </div>
                            </div>
                          </th>
                          <td class="border-0 align-middle"><h6>{{i.order_product2.pro_discount}}</h6></td>
                          <td class="border-0 align-middle text-center "><h6>{{i.order_product_qty}}</h6></td>
                          <td class="border-0 align-middle text-center"><h6>{{i.order_product_amount}}</h6></td>
                          <td class="border-0 align-middle"><h6>{{i.order_status}}</h6></td>

                          <td class="border-0 align-middle text-center "><a href="customer-order-placed-details/{{i.order_id }}"><i class="fa fa-eye" style="color:red;font-size: xx-large;"></i></a></td>
                          
                         
                        </tr>
                       
                      </tbody>
                      {% endfor %}
                    </table>
                  </div>
                  <!-- End -->
                </div>
              </div>
        
            
    </section>
    
      <!-- /container -->

    <!-- /Section -->

    <!-- NEWSLETTER -->
    <div id="newsletter" class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-12">
            <div class="newsletter">
              <p>Sign Up for the <strong>NEWSLETTER</strong></p>
              <form>
                <input
                  class="input"
                  type="email"
                  placeholder="Enter Your Email"
                />
                <button class="newsletter-btn">
                  <i class="fa fa-envelope"></i> Subscribe
                </button>
              </form>
              <ul class="newsletter-follow">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-pinterest"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /NEWSLETTER -->

    <!-- FOOTER -->
    <footer id="footer">
      <!-- top footer -->
      <div class="section">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">
            <div class="col-md-3 col-xs-6">
              <div class="footer">
                <h3 class="footer-title">About Us</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut.
                </p>
                <ul class="footer-links">
                  <li>
                    <a href="#"
                      ><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a
                    >
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-envelope-o"></i>email@email.com</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-3 col-xs-6">
              <div class="footer">
                <h3 class="footer-title">Categories</h3>
                <ul class="footer-links">
                  <li><a href="#">Hot deals</a></li>
                  <li><a href="#">Laptops</a></li>
                  <li><a href="#">Smartphones</a></li>
                  <li><a href="#">Cameras</a></li>
                  <li><a href="#">Accessories</a></li>
                </ul>
              </div>
            </div>

            <div class="clearfix visible-xs"></div>

            <div class="col-md-3 col-xs-6">
              <div class="footer">
                <h3 class="footer-title">Information</h3>
                <ul class="footer-links">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Orders and Returns</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-3 col-xs-6">
              <div class="footer">
                <h3 class="footer-title">Service</h3>
                <ul class="footer-links">
                  <li><a href="#">My Account</a></li>
                  <li><a href="#">View Cart</a></li>
                  <li><a href="#">Wishlist</a></li>
                  <li><a href="#">Track My Order</a></li>
                  <li><a href="#">Help</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </div>
      <!-- /top footer -->

      <!-- bottom footer -->
      <div id="bottom-footer" class="section">
        <div class="container">
          <!-- row -->
          <div class="row">
            <div class="col-md-12 text-center">
              <ul class="footer-payments">
                <li>
                  <a href="#"><i class="fa fa-cc-visa"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-credit-card"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-cc-paypal"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-cc-mastercard"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-cc-discover"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-cc-amex"></i></a>
                </li>
              </ul>
              <span class="copyright">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights reserved | This template is made with
                <i class="fa fa-heart-o" aria-hidden="true"></i> by
                <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </span>
            </div>
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </div>
      <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->

    <!-- jQuery Plugins -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/nouislider.min.js' %}"></script>
    <script src="{% static 'js/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
     
    {% if messages %}              
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <script>swal({
            title: "Success!",
            text: "{{message}}",
            icon: "success",
            button: "OK",
            });
            </script>
            
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <script>swal({
                title: "Warning :)",
                text: "{{message}}",
                icon: "warning",
                button: "OK",
                });
            </script>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <script>swal({
            title: "error :)",
            text: "{{message}}",
            icon: "error",
            button: "OK",
            });
        </script>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <script>swal({
            title: "error :)",
            text: "{{message}}",
            icon: "error",
            button: "OK",
            });
        </script>
            {% endif %}              
        {% endfor %} 
        {% endif %}
  </body>
</html>
